@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pattaya&display=swap');
@import "tailwindcss";

/* :root {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid; 
}  */

:root {
 background-color: #1A1A1A;
}  


@theme {
  --font-pattaya: "Pattaya", cursive; /* 'cursive' is a good fallback for Pattaya */
  /* You can also override the default sans, serif, or mono fonts: */
  /* --font-sans: "Pattaya", sans-serif; */
  --breakpoint-lgc: 950px;
  --breakpoint-smc: 683px;
  --breakpoint-custom:1200px;
}